div.ng-scope:hover {
	background-color: #F0F0F5;
}
div.ng-scope h6 {
	font-size: 1em;
}
div.ng-scope p {
	padding: 0 11%;
}

#main_page {
	border: 1em solid #1A1919;
}
#mg_ifram {
	width: 42%;
	margin-right: 8%;
	display: inline-block;
}
article h1 {
	text-align: center;
	color: #1A1919;
	font-size: 4em;
	font-style: oblique;
	font-weight: 900;
	font-variant: small-caps;
	margin: auto;
	background-color: #CC0000;
}
#main_page p {
	float: none;
	display: inline-block;
	width: 34%;
	vertical-align: top;
	margin-right: 3%;
	padding: 0;
}
#main_page a {
	background-color: red;
	font-size: 1em;
}
#mpIframe {
	margin: 0 5% 1% -105px;
}
/* software */
#softwareSection img {
	width: 10%;
	display: inline-block;
}
#softwareSection h3 {
	width: 67%;
	margin: 0;
	display: inline;
}

/* guides */

#guides_page h3 {
	text-align: center;
	color: #404040;
	font-size: 2em;
	font-style: oblique;
	font-weight: 900;
	font-variant: small-caps;
	margin-bottom: auto;
}
#guides_page img {
	display: inline-block;
	width: 31%;
	height: 12em;
	margin: 2% 4%;
}
#guides_page p {
	margin: 2%;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
#guides_page a {
	color: #0000FF;
	display: block;
	margin-left: 4%;
	padding-bottom: 1%;
	text-align: left;
}
#guides_page a span {
	color: white;
	background-color: #808080;
	border-radius: 5%;
	padding: 0.5% 1%;
	box-shadow: 1px 1px 1px 1px #404040;
	font-weight: bolder;
	font-size: 0.8em;
}
#guides_page a span:hover {
	color: #FFFFFF;
	background-color: #cc0000;
	box-shadow: 1px 1px 1px 1px #CC0000;
}

/*update page*/

.update_page iframe {
	width: 100%;
	height: 89%;
}
.update_page {
	border-style: outset;
	width: 24%;
	height: 12em;
	margin: 2% 2%;
	display: inline-block;
	border-radius: 3%;
}
.update_page h4 {
	font-size: 0.7em;
	padding: 0;
	margin: 0;
}

/* main page*/
.mp_section h2 {
	text-align: center;
	color: #404040;
	font-size: 3.5em;
	font-style: oblique;
	font-weight: 900;
	font-variant: small-caps;
	margin-bottom: auto;
	padding: 0 5%;
}
.mp_section iframe {
	display: block;
	margin: 0 auto;
	width: 72%;
}
.mp_section p {
	margin: 1% 5%;
}

/* contact page*/
#contact_section {
	background-image: url('../images/contactBackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
#contact_form input {
	margin: 2%;
	width: 26%;
	height: 2em;
}
#contact_form label {
	display: inline-block;
	width: 10%;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}
#contact_form {
	position: absolute;
	width: 81%;
	right: 16%;
	top: 9%;
}

/* regulatians page*/
#regul article {
	margin: 0 5%;
}
#regul h3 {
	text-align: right;
	color: #404040;
	font-size: 3.5em;
	font-style: oblique;
	font-weight: 900;
	font-variant: small-caps;
	margin-bottom: auto;
	padding: 0 5%;
}
/* about page */
#about article {
	margin: 0 5%;
}
#about h3 {
	text-align: right;
	color: #404040;
	font-size: 3.5em;
	font-style: oblique;
	font-weight: 900;
	font-variant: small-caps;
	margin-bottom: auto;
	padding: 0 5%;
}
